@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 font-family: "Lora", serif;
 font-size: larger;
  min-height: 70vh;
  background-color: rgb(247, 247, 247);
  padding: 1rem;
  line-height: 2.5;
}

.content {
  max-width: 42rem;
  text-align: left;
  margin-left: 0;
  
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.highlight {
  color: #037a07;
}

.subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: #08AA0E;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
  color: #1a202c;
}

.cta-button {
  background-color: #072B1E;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem; 
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #025014;
}
